body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
#container {
  width: 500px;
  margin: 0 auto;
  padding:0;
  text-align: left;
  font-size: 13pt;
  line-height: 20pt;
}


#container img {
  width:100%;
  margin: auto;
  display: block;
}

#container header {
  margin-top:1rem;
}

#container header img{
  width: auto;
}


#jank-level{
  text-align: center;
  color: #CBBA00;
}
button {
  margin:2rem auto;
  display:block;
  width: 80%;
  padding: 1rem;
  font-family: 'Dancing Script', cursive;
  font-weight:400;
  font-size:2rem;
  background-color:#06B3EB;
  border:0;
  color: #fff;
  box-shadow: 5px 5px 0 #035E7B;
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
}

button:active {
  transform: translateX(5px) translateY(5px);
  box-shadow: 0 0 0 #035E7B;
}

h1, h2, h3 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  color: #06B3EB;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height:100%;
}

h2 {
  color: #CBBA00;
  font-size: 2rem
}

ol {
  list-style: none;
  /*margin-left:-10px;*/
  padding-left:0;
  text-align: center;
}

ol li {
  margin: 0.5rem;
}

ol li span {
  font-family: 'Dancing Script', cursive;
  display:block;
  font-size: 1.5rem;
  color: #CBBA00;
  margin-top:2.5rem;
}

.clarification, .optional {
  font-style: italic;
  color: #444;
}

.next {
  margin-top:4rem;
  border-top: 2px solid #F0E787;
  background-color: #FFFBCB;
  padding: 1rem;
  margin-bottom:0;
}